<h2>Comps page</h2>

{{#if comps.length}}
<ul>
    {{#each comps}}
        <li>
            <p>Producer: {{producer}}</p>
            <p>Drive Space: {{driveSpace}}</p>
            <p>Guarantee: {{guarantee}}</p>
            <p>Amount: {{amount}}</p>
        </li>
    {{/each}}
</ul>
{{else}}
<p>no comps</p>
{{/if}}